.asad22{
	background-image: url("image_2021-12-18_16-03-21.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.asad2{
	color: white;
}
.kislorod{
	display: flex;
	justify-content: center;
}
.kislorod button:hover{
	background-color: white;
	color: blue;
}
.kislorod5{
	margin-right: 40px;
}
.row{
	color: blue;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
img:hover{
	transform: scale(1.2);
	transition: 3s;
}
.kislorod1{
	display: flex;
	justify-content: center;
}
.kislorod1 button:hover{
	background-color: blue;
	color: white;
}